
/LMSApp/.vs
/LMSApp/.vs/LMSApp/FileContentIndex
/LMSApp/.vs
/LMSApp/.vs/LMSApp/config
/LMSApp/LMSApp/obj/Debug
/LMSApp/LMSApp/obj
LMSApp/LMSApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LMSApp/LMSApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LMSApp/.vs/LMSApp/config/applicationhost.config
LMSApp/LMSApp/obj/Debug/LMSApp.vbproj.AssemblyReference.cache
LMSApp/LMSApp/LMSApp.vbproj
LMSApp/.vs/LMSApp/config/applicationhost.config
LMSApp/LMSApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LMSApp/.vs/LMSApp/v17/.suo
LMSApp/.vs/LMSApp/v17/fileList.bin
LMSApp/LMSApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LMSApp/LMSApp/obj/Debug/LMSApp.vbproj.AssemblyReference.cache
LMSApp/.vs/LMSApp/v17/.suo
LMSApp/LMSApp/LMSApp.vbproj
*.vbproj
/LMSApp/LMSApp
LMSApp/.vs/LMSApp/v17/.suo
LMSApp/.vs/LMSApp/config/applicationhost.config
LMSApp/.vs/LMSApp/v17/.suo
/LMSApp/.vs/LMSApp/v17
