# Ignore the entire .vs directory
LMSApp/.vs/

# Ignore everything in the obj directory
LMSApp/LMSApp/obj/

# Ignore everything in the bin directory
LMSApp/LMSApp/bin/
LMSApp/.vs/LMSApp/config/applicationhost.config
LMSApp/LMSApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LMSApp/LMSApp/obj/Debug/LMSApp.vbproj.AssemblyReference.cache
LMSApp/.vs/LMSApp/v17/.suo
LMSApp/.vs/LMSApp/v17/fileList.bin
LMSApp/.vs/LMSApp/config/applicationhost.config
LMSApp/.vs/LMSApp/v17/.suo
